/* Weird dot in Search Bar */
menupopup.textbox-contextmenu
{
	display: none;
}

#PopupAutoCompleteRichResult, #PopupSearchAutoComplete
{
	border: 1px solid grey !important;
	border-radius: 1px !important;
	/* Vllt margin-top und border-top noch ändern */
}

/*
menupopup
{
	appearance: none !important;
	background-color: var(--arrowpanel-background) !important;
	color: var(--arrowpanel-color) !important;
	-moz-context-properties: fill, fill-opacity !important;
	fill: currentColor !important;
}
menuitem,
menu > menu,
menupopup > menu
{
	appearance: none !important;
}
menuitem[disabled],
menu[disabled]
{
	pointer-events: none !important;
}

.menu-right
{
	appearance: none !important;
	list-style-image: url(menu-right-1x.svg) !important;
}

menuitem[type=radio][checked=true]
{
	list-style-image: url(checkmark-18dp.svg) !important;
}

menuitem[type=radio] .menu-iconic-icon
{
	width: 16px !important;
	height: 16px !important;
	margin-inline-start: 0 !important;
}
*/